<!-- <nav class="navbar navbar-expand-lg  navbar-dark bg-dark"> -->
<nav class="navbar navbar-expand-lg navbar-dark px-3" style="background-color: #385988;">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Django CRM</a>
        <button
          class="navbar-toggler mb-3"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% with request.resolver_match.url_name as url_name %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}
            <li class="nav-item {% if url_name == 'add_record' %}active{% endif %}">
              <a class="nav-link text-white" href="{% url 'add_record' %}">Add Record</a>
            </li>
            <li class="nav-item text-white {% if url_name == 'logout' %}active{% endif %}">
              <a class="nav-link text-white" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item {% if url_name == 'signup' %}active{% endif %}">
              <a class="nav-link text-white" href="{% url 'signup' %}">Sign Up</a>
            </li>              
            <li class="nav-item {% if url_name == 'login' %}active{% endif %}">
              <a class="nav-link text-white" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
          </ul>
          {% endwith %}              
        </div>
      </div>
    </nav>
